 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Times new Roman';
}

 
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 1000;
}

.logo {
  color: #0077ff;
  font-weight: 700;
  font-size: 22px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: #0077ff;
  color: #fff;
}
 
.home {
  height: 100vh;
  background: linear-gradient(135deg, #4f46e5, #3b82f6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  color: white;
  text-align: center;
}

.home-content {
  max-width: 700px;
}

.home-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.home-content h2 {
  font-size: 20px;
  font-weight: 400;
  color: #dbeafe;
  margin-bottom: 25px;
}

.home-content p {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 35px;
}

 
.btn {
  background-color: #fff;
  color: #3b82f6;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #e0e7ff;
  transform: translateY(-3px);
}
